{{define "Index"}}

{{template "_head"}}

{{template "_navbar"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Nome}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Preco}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><button class="btn btn-warning" type="button" onclick="onEdit('{{.Id}}')">Editar</button></td>
                            <td><button class="btn btn-danger" type="button" onclick="onDelete('{{.Id}}')">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/new" class="btn btn-primary mb-2">Criar novo produto</a>
        </div>

    </div>
</body>

<script lang="js">
    function onDelete(id) {
        let resposta = confirm("Tem certeza que deseja deletar este Produto?")
        if (resposta) {
            window.location = "/delete?id=" + id
        }
    }

    function onEdit(id) {
        window.location = "/edit?id=" + id
    }
</script>

</html>
{{end}}